doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=Windows-1252")
        title EOB Select
    script.
               function seletImportProviders(e){
                 if (!/edi|era|835|txt/i.test(e.target.files[0].name.slice(-3))) {
                   parent.commonjs.showError('Allowed file extensions: era,835,txt');
                   e.target.form.reset();
                   return;
                 }

                //-   parent.commonjs.showLoading('Uploading file. please wait..');
                  document.getElementById("inSubmit").click();
                  var btns = parent.document.getElementsByClassName('eobControls');
                  for(var i = 0; i < btns.length; i++){
                    btns[i].style.display = 'block';
                  }
                  document.getElementById('spnFileName').style.marginTop = "8px";
               }
    body(class="exportFrame" style="background-color: transparent !important;")
        form#inputFormCPT(name='formProvideImport', action='./uploadFile?companyID=#{companyID}', method='post',style="float:right;", enctype="multipart/form-data")
            span#spnFileName.btn.btn-success.fileinput-button(style="width: -moz-available !important; margin-top : 3px;")
                span#fileName= fileName
                -if(fileName !== ''){
                    input#xMLInput(type="file",style="display:none;", name="displayImage", data-isValid="#{valid_format}", data-isDuplicate="#{duplicate_file}" ,data-uploaded="#{isUploaded}" onchange="seletImportProviders(event);" )
                -}
                -else{
                    input#xMLInput(type="file", name="displayImage", data-isValid="#{valid_format}", data-isDuplicate="#{duplicate_file}", data-uploaded="#{isUploaded}" onchange="seletImportProviders(event);" )
                -}
            input#inSubmit(type="submit", style="visibility:hidden;height:0px")
    script.
        //- parent.commonjs.hideLoading();
        parent.document.getElementById('btnReloadERA').click();
