extends layout

block content
    div(class="progress loadingMsg", id="divLoading", style="display:none")
        div(class="progress-bar progress-bar-striped bg-success", role="progressbar", style="width:100%", id="divLoadingMsg")
    div(class="loadingMsg", id="divWarning", style="display:none")
        span(class="badge badge-warning" id="divWarningMsg")
    div(class="loadingMsg", id="divError", style="display:none")
        span(class="badge badge-danger" id="divErrorMsg")
    div(class="loadingMsg", id="divSuccess", style="display:none")
        span(class="badge badge-success" id="divSuccessMsg")
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary(style="display:none")
        a#aNavTitlebar.navbar-brand(href='#billing/studies/list') #{title}
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a#aStudies.nav-link.active(href='#billing/studies/list') STUDIES
                li.nav-item
                    a#aClaims.nav-link(href='#billing/claim_workbench/list') CLAIMS
                li.nav-item
                    a#aPayments.nav-link(href='#billing/payments/list') PAYMENTS
                li.nav-item
                    a#aEob.nav-link(href='#billing/era/list') EOB
                    
                li.nav-item.dropdown
                    a#aReports.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') REPORTS
                    .dropdown-menu
                        a.dropdown-item(href='#reports/r/aged-ar-summary', class='aAgedARSummary') AGED A/R SUMMARY
                        a.dropdown-item(href='#reports/r/aged-ar-details', class='aAgedARDetails') AGED A/R DETAILS
                        .dropdown-divider
                        a.dropdown-item(href='#reports/r/charges', class='aCharges') CHARGES                        
                        a.dropdown-item(href='#reports/r/claim-activity', class='aClaimActivity') CLAIM ACTIVITY
                        a.dropdown-item(href='#reports/r/claim-inquiry', class='aClaimInquiry') CLAIM INQUIRY
                        a.dropdown-item(href='#reports/r/claim-transaction', class='aClaimTransaction') CLAIM TRANSACTION
                        a.dropdown-item(href='#reports/r/credit-balance-encounters', class='aCreditBalanceEncounters') CREDIT BALANCE ENCOUNTERS
                        a.dropdown-item(href='#reports/r/diagnosis-count', class='aDiagnosisCount') DIAGNOSIS COUNT  
                        .dropdown-divider
                        a.dropdown-item(href='#reports/r/insurance-vs-lop', class='aInsuranceLOP') INSURANCE VS LOP
                        a.dropdown-item(href='#reports/r/modality-summary', class='aModalitySummary') MODALITY SUMMARY
                        a.dropdown-item(href='#reports/r/monthly-recap', class='aMonthlyRecap') MONTHLY RECAP
                        a.dropdown-item(href='#reports/r/patient-statement', class='aPatientStatement') PATIENT STATEMENT
                        a.dropdown-item(href='#reports/r/payer-mix', class='aPayerMix') PAYER MIX
                        a.dropdown-item(href='#reports/r/payment-report' class='aPaymentDetails') PAYMENTS
                        a.dropdown-item(href='#reports/r/patients-by-insurance-company' class='aPatientsByInsCompany') PATIENTS BY INSURANCE COMPANY
                        a.dropdown-item(href='#reports/r/payments-by-ins-company', class='aPaymentsByInsurance') PAYMENTS BY INS COMPANY
                        a.dropdown-item(href='#reports/r/procedure-analysis-by-insurance', class='aProcedureAnlaysis') PROCEDURE ANALYSIS BY INSURANCE
                        a.dropdown-item(href='#reports/r/procedure-count', class='aProcedureCount') PROCEDURE COUNT
                        .dropdown-divider
                        a.dropdown-item(href='#reports/r/reading-provider-fees', class='aReadingProviderFees') READING PROVIDER FEES
                        a.dropdown-item(href='#reports/r/referring-provider-count', class='aRefProCount') REFERRING PROVIDER COUNT
                        a.dropdown-item(href='#reports/r/referring-provider-summary', class='aRefProSummary') REFERRING PROVIDER SUMMARY
                        a.dropdown-item(href='#reports/r/transaction-summary', class='aTransactionSummary') TRANSACTION SUMMARY
                    
                li.nav-item.dropdown
                    a#aSetup.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') SETUP
                    .dropdown-menu
                        a.dropdown-item(href='#setup/adjustment_codes/list', class='aAdjustmentCodes') Adjustment CODES
                        a.dropdown-item(href='#setup/billing_codes/list' , class='aBillingCodes') BILLING CODES
                        a.dropdown-item(href='#setup/billing_classes/list', class='aBillingClasses') BILLING CLASSES
                        a.dropdown-item(href='#setup/claim_status/list', class='aClaimStatus') CLAIM STATUS
                        .dropdown-divider
                        a.dropdown-item(href='#setup/billing_providers/list', class='aBillingProviders') BILLING PROVIDER
                        a.dropdown-item(href='#setup/provider_id_code_qualifiers/list' class='aProviderIdCodeQualifiers') PROVIDER ID CODE QUALIFIERS
                        .dropdown-divider
                        a.dropdown-item(href='#setup/billing_messages/list' class='aBillingMessages') BILLING MESSAGES
                        a.dropdown-item(href='#setup/payment_reasons/list', class='aPaymentReasons') PAYMENT REASONS
                        a.dropdown-item(href='#setup/cas_group_codes/list' class='aCasGroupCodes') CAS GROUP CODES
                        a.dropdown-item(href='#setup/cas_reason_codes/list' class='aCasReasonCodes') CAS REASON CODES
                        //a.dropdown-item(href='#setup/provider_level_codes/list') Provider Level Codes
                        a.dropdown-item(href='#setup/status_color_codes/list' class='aStatusColorCodes') STATUS COLOR CODES
                        .dropdown-divider
                        a.dropdown-item(href='#setup/validations/all' class='aBillingValidations') BILLING VALIDATIONS
                        a.dropdown-item(href='#setup/edi_templates/all' class='aEDITemplate') EDI/ERA TEMPLATES
                        a.dropdown-item(href='#setup/edi_clearinghouses/list' class='aEDIClearingHouses') EDI CLEARING HOUSE
                        a.dropdown-item(href='#setup/insurance_x12_mapping/list' class='aInsuranceX12Mapping') INSURANCE MAPPING
                        a.dropdown-item(href='#setup/printer_templates/list' class='aPrinterTemplate') PRINTER TEMPLATES

                li.nav-item.dropdown
                    a#aLog.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') LOG
                    .dropdown-menu
                        a.dropdown-item(href='#setup/audit_log/list' class='aAuditLog') AUDIT LOG
                        a.dropdown-item(href='#setup/user_log/list' class='aUserLog') USER LOG

                li.nav-item
                    a.nav-link(href='/logout') LOGOUT

    #root

    #divPageLoading
        #divPageLoadingMsg(style="left:0%; top:40%; font-size:25px; position:absolute; font-weight:bolder; text-align:center; width:100%; z-index: 10000;")
            p Loading
                img(src=staticAssetsRoot + "/images/ajax-loader.gif", style="padding-left:10px;")

    script(type='text/javascript', src=staticAssetsRoot + '/node_modules/immutable/dist/immutable.min.js')
    //- script(type='text/javascript', src=staticAssetsRoot + '/node_modules/pdfmake/build/pdfmake.min.js')
    //- script(type='text/javascript', src=staticAssetsRoot + '/node_modules/pdfmake/build/vfs_fonts.js')

    script(type='text/javascript', src=staticAssetsRoot + '/node_modules/requirejs/require.js', data-main=staticAssetsRoot + '/js/main.js')
