doctype html
html
  head
    title= title
    link(rel='stylesheet', href=staticAssetsRoot + '/node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/node_modules/select2/dist/css/select2.min.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/node_modules/bootstrap-daterangepicker/daterangepicker.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/node_modules/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/libs/datetimepicker/css/bootstrap-datetimepicker.css')
    
    link(rel='stylesheet', href=staticAssetsRoot + '/libs/jqgrid/css/ui.jqgrid.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/libs/jqgrid/css/jquery-ui-1.10.2.custom.css')
    link(rel='stylesheet', href=staticAssetsRoot + '/skins/default/index.css')

    //- link(rel='stylesheet', href=staticAssetsRoot + '/skins/default/index.min.css')
    //- link(rel='stylesheet', href=staticAssetsRoot + '/skins/default/index.css')
  body
    block content
    
    div#siteModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        div.modal-dialog.modal-dialog-centered(role='document')
            div.modal-content
                div.modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#spanModalHeader.modal-title
                div.modal-body
                    div(id="modal_div_container")
                div.modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal', i18n="shared.buttons.cancel")
